html,
body {
  margin: 0;
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, #013064, #1255a0);
  border-style: hidden;
  border-color: #ffffff;
  border-width: 10px;
}

.app {
  position: absolute;
  margin: 0;
  height: auto;
  background: linear-gradient(180deg, #013064, #1255a0);
  width: 100%;
}

.customcategories {
  position: absolute;
  margin: 0;
  height: auto;
  width: 100%;
}

.login {
  position: absolute;
  margin: 0;
  height: auto;
  width: 100%;
}

.register {
  position: absolute;
  margin: 0;
  height: auto;
  width: 100%;
}

.main {
  height: 100vh;
  padding-left: calc(2% + 25px);
  padding-right: 2%;
  padding-top: 60px;
}

.box {
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 10px;
  width: 120px;
  height: 220px;
  min-width: 90%;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-size: 100% 100%;
}

/* .gameVariantBox {
  box-sizing: border-box;
  border-style: solid;
  border-color: white;
  border-radius: 10px;
} */

.backbutton {
  width: 70px;
  height: 70px;
  padding-top: 15px;
  padding-left: 15px;
  position: absolute;
  z-index: 15;
}

.gamemenu {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
}

.gamemenu__description {
  border-bottom-style: solid;
  background: #023875;
  border-width: 0px;
  border-radius: 30px;
  padding-bottom: 10px;
}

.tile {
  position: relative;
  border-style: ridge;
  border-width: 10px;
  border-radius: 30px;
  min-height: inherit;
  max-width: 70%;
  max-height: 50%;
  min-width: 70%;
  min-height: 125px;
  height: 18vh;
  background-size: 100% 100%;
}

.result {
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  border-style: solid;
  border-color: white;
  border-width: 10px;
  background: linear-gradient(180deg, #023774 65%, #074285 35%);
}

.result__questions {
  border-top-style: hidden;
  border-top-left-radius: 150px;
  border-top-right-radius: 150px;
  position: absolute;
  width: 100%;
  background-color: #074285;
}

.questionstable {
  padding-top: 10px;
  position: relative;
  width: 100%;
  overflow: scroll;
}

.refresh {
  padding-top: 10px;
  position: relative;
  z-index: 2;
}

.medal {
  position: relative;
  text-align: center;
  margin: auto;
  min-width: 20%;
  height: 220px;
  width: 120px;
  background-size: 100% 100%;
}

.medal__points {
  position: absolute;
  text-align: center;

  top: 40px;
  bottom: 0;
  left: 0;
  right: 0;
  margin: auto;

  font-size: 70px;
  font-weight: 700;
}

.gamemodule {
  border-style: solid;
  border-color: white;
  border-width: 10px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #0adaff, #1b85ff);
}

.questions {
  position: absolute;
  top: 42%;
  transform: translate(-50%, -50%);
  display: flex;
  align-items: center;
  justify-content: center;
  color: #f8f8ff;
  font-size: 12vh;
  font-weight: 700;
  text-align: center;
  width: 100%;
  text-shadow: 5px 5px 10px #474747;
}

.skiporcorrect {
  position: absolute;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: linear-gradient(180deg, #ff5f03, #ff0707);
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-size: 100% 100%;
  z-index: 3;
}

.timer {
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.value {
  font-size: 25px;
}

.changeorientationbox {
  border-style: solid;
  border-color: white;
  border-width: 10px;
  background: linear-gradient(180deg, #0adaff, #1b85ff);
  position: fixed;
  width: 100%;
  height: 100vh;
  left: 0%;
  top: 0%;
  z-index: 11;
}
*/

/* COUNTDOWN ANIMATION */
svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 113px;
  }
}

/* GAME TITLE GLOWING EFFECT */
/* .glow {
  position: absolute;
  width: 200px;
  height: 200px;
  min-width: 50%;
}

.glow span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 80%;
  background: linear-gradient(#09daff, #26ff09);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.glow span:nth-child(1) {
  filter: blur(35px);
}
.glow span:nth-child(2) {
  filter: blur(50px);
} */
