html,
body,
.App {
  margin: 0;
  background: linear-gradient(180deg, #013064, #1255a0);
  min-height: 100%;
  height: 100%;
  width: 100%;
  position: fixed;
  overflow: scroll;
}

.Main {
  padding-left: 5%;
  padding-top: 5%;
}

.Box {
  box-sizing: border-box;

  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 7px;

  width: 120px;
  height: 220px;
  min-width: 90%;

  background-repeat: no-repeat;
  background-size: contain, cover;
  background-size: 100% 100%;
}

.gameVariantBox {
  box-sizing: border-box;

  border-style: solid;
  border-color: white;
  border-radius: 7px;
  border-width: 7px;
}

.BackButtonContainer {
  width: 40px;
  height: 40px;
  left: 4%;
  top: 4%;
  position: absolute;
}

.gameMenu {
  height: 100vh;
  border-style: solid;
  border-color: white;
  border-width: 10px;
}

.TileStyle {
  position: relative;
  border-style: ridge;
  border-width: 10px;
  border-radius: 30%;
  min-height: inherit;
  min-width: 80%;
  height: 20vh;
  background-size: 100% 100%;
}

.GameModule {
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 15px;
  position: fixed;
  width: 100%;
  height: 100%;
  left: 0;
  top: 0;
  background: linear-gradient(180deg, #0adaff, #1b85ff);
}

.Skip {
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 15px;

  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(255, 0, 0), rgb(255, 139, 6));
  background-image: url("../pic/failPic.jpg");
  align-items: center;
  left: 0%;
  top: 0%;
  z-index: 3;
}

.Correct {
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 15px;
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, rgb(7, 255, 48), rgb(2, 255, 171));
  background-image: url("../pic/correctPic.jpg");
  align-items: center;
  left: 0%;
  top: 0%;
  z-index: 3;
}

.timer {
  font-family: "Montserrat";
  display: flex;
  flex-direction: column;
  align-items: center;
  color: white;
}

.value {
  font-size: 25px;
}

.ChangeOrientationBox {
  border-style: solid;
  border-color: white;
  border-width: 15px;
  border-radius: 15px;

  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #0adaff, #1b85ff);
  left: 0%;
  top: 0%;
  z-index: 11;
}
*/

/* MEDIA QUERIES */
@media screen and (min-width: 500px) {
}

/* COUNTDOWN ANIMATION */
svg {
  position: absolute;
  top: 0;
  right: 0;
  width: 40px;
  height: 40px;
}

@keyframes countdown {
  from {
    stroke-dashoffset: 0px;
  }

  to {
    stroke-dashoffset: 113px;
  }
}

/* GAME TITLE GLOWING EFFECT */
.glow {
  position: absolute;
  width: 200px;
  height: 200px;
  min-width: 50%;
}

.glow span {
  position: absolute;
  width: 100%;
  height: 100%;
  border-radius: 80%;
  background: linear-gradient(#09daff, #26ff09);
  animation: animate 4s linear infinite;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.glow span:nth-child(1) {
  filter: blur(35px);
}
.glow span:nth-child(2) {
  filter: blur(50px);
}
