.BackButtonContainer {
  padding: 2%;
  width: 5%;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  position: relative;
  z-index: 11;
}
.BackButton {
  width: 10%;
  overflow: visible;
  stroke: #fff;
  stroke-width: 2;
  stroke-linejoin: round;
  stroke-linecap: round;
  margin-right: 50%;
  position: absolute;
}
