* {
  box-sizing: border-box;
}

.App {
  width: 100%;
}

#particles-js {
  position: absolute;
  width: 100%;
  height: 100%;
}

.Main {
  text-align: center;
  font-size: 24px;
  font-weight: bold;
  height: 100%;
  color: white;
  background: linear-gradient(180deg, #05f, #09f);
  display: flex;
  justify-content: space-between;
  flex-flow: row wrap;
  padding: 0 5% 3% 5%;
  width: 100%;
  font-family: "Exo", sans-serif;
  color: #fff;
  background: linear-gradient(-45deg, #0077ff, #05f368, #23a6d5, #23d5ab);
  background-size: 400% 400%;
  animation: gradientBG 15s ease infinite;
}

@keyframes gradientBG {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

.container {
  width: 100%;
  position: absolute;
  top: 35%;
  text-align: center;
}

.Box {
  border-style: solid;
  border-color: white;
  border-radius: 10px;
  border-width: 10px;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10%;
  margin-top: 2%;
  max-width: 500px;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-repeat: no-repeat;
  background-size: contain, cover;
  background-size: 100% 100%;
  background-image: url("./pic/gamePicOne.jpg");
  position: relative;
}

.Box:hover {
}
a.divLink {
  cursor: pointer;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  text-decoration: none;
  /* Makes sure the link doesn't get underlined */
  z-index: 1;
  /* raises anchor tag above everything else in div */
  background-color: white;
  /*workaround to make clickable in IE */
  opacity: 0;
  /*workaround to make clickable in IE */
  filter: alpha(opacity=0);
  /*workaround to make clickable in IE */
}

.GameModule {
  position: fixed;
  width: 100%;
  height: 100vh;
  background: linear-gradient(180deg, #05f, #09f);
  border-style: solid;
  text-align: center;
  font-size: 10px;
  font-weight: bold;
  color: white;
  display: block;
  align-items: center;
  justify-content: space-around;
  flex-flow: wrap;
  left: 0%;
  top: 0%;
  z-index: 2;
}

/* Large */
.Main {
}

/* Small screens */
@media all and (max-width: 700px) {
  .Box {
    /* On small screens, we are no longer using row direction but column */
    flex-direction: column;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }
}
